@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: #192035;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.main-conteiner{
    display: flex;
}

/*Serve bar*/
.serve-bar{
    width: 5rem;
    height: 49.4rem;
    background-color: #101522;
}

.channel-me{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #232b42;
}

.icon-channel-me{
    height: 2.6rem;
    border-radius: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-messages{
    font-size: 1.8rem;
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #192035;
    background-color: #7289d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition: .6s;
    cursor: pointer;
}

.btn-messages:hover{
    color: #192035;
    background-color: #7289d9;
    border-radius:16px;
}

.channels-serves{
    width: 4rem;
    height: 45.4rem;
}

.create-server{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #192035;
    border-radius: 100%;
    color: #7289d9;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    transition: .6s;
}

.create-server:hover{
    color: #192035;
    background-color: #7289d9;
    border-radius: 16px;
}

.create-server .fa-plus{
    font-size: 1.5rem;
}

.floating-text-create-serve{
    display:none;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 12rem;
    height: 1.9rem;
    width: 6.5rem;
    border-radius: 5px;
    white-space: nowrap;
    background-color: #343d5a;
    color: #d8d4d4;
    z-index: 999;
}

.floating-text-create-serve p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-text-create-serve .triangle{
    margin-right: 7rem;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(-90deg);
    border-bottom: 15px solid #343d5a;
}
/*Serve bar end*/

/*Conversation bar*/
.conversation-bar{
    width: 16rem;
    height: 46.5rem;
    background-color: #161c2e;
}

.search-bar{
    width: 100%;
    height: 3rem;
    background-color: #161c2e;
    border-bottom: 2px solid #1f2535;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-search-bar{
    height: 1.7rem;
    width: 11rem;
    background-color: #1e263d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

#main-search-bar p{
    margin: 10px;
    color: #4f576b;
    font-family: 'Roboto', sans-serif;
}

#main-search-bar .fa-magnifying-glass{
    color: #4f576b;
    margin-left: 4rem;
}

.friends-chat{
    position: relative;
    height: 43.1rem;
    width: 100%;
    z-index: 1;
}

.friends-option{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 3.4rem;
    margin: 5px;
    border-radius: 10px;
    background-color: #242a3a;
    color: #FAFAFA;
    cursor: pointer;
}

.friends-option .fa-user-group{
    margin-left: 10px;
    font-size: 20px;
}

.group-option{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 3.4rem;
    margin: 5px;
    border-radius: 10px;
    color: #a1a1a1;
    cursor: pointer;
    transition: .5s;
}

.group-option .fa-comments{
    margin-left: 10px;
    font-size: 20px;
}

.group-option:hover{
    background-color: #1e2433;
    color: #d1d1d1;
}

.category-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    height: 2rem;
    color: #a1a1a1;
}

.category-message h5{
    margin: 5px;
    cursor: default;
}

.category-message h5:hover{
    color: #d1d1d1;
}

.category-message .fa-plus{
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.category-message .fa-plus:hover{
    color: #d1d1d1;
}

.messages{
    overflow-y: scroll;
    height: 34rem;
    width: 100%;
}

/* Para navegadores da WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    background-color: #161c2e /* Cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1e263d; /* Cor do indicador de rolagem */
}

::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.friend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    margin: 5px;
    border-radius: 10px;
    color: #a1a1a1;
    cursor: pointer;
    transition: .5s;
}

.friend:hover{
    background-color: #1e2433;
    color: #d1d1d1;
}

.friend-container{
    display: flex;
    align-items: center;
}

.delete-message{
    display: none;
    margin: 10px;
    font-size: 12px;
}

.friend img{
    height: 3rem;
    margin: 7px;
    border-radius: 100%;
}

.options{
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: #111724;
    z-index: 2;
}

.user{
    display: flex;
    align-items: center;
    height: 2.6rem;
    width: 6.9rem;
    margin-left: 5px;
    border-radius: 10px;
    gap: 8px;
    cursor: pointer;
    transition: .5s;
}

.user:hover{
    background-color: #1e2433;
}

.profile-picture{
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.profile-picture img{
    height: 2.5rem;
    border-radius: 100%;
}

.user-online{
    display: block;
    position: absolute;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 8px 0px 0px 30px;
    border-radius: 100%;
    border: 2px solid #111724;
    background-color: #81F781;
}

.user-idle{
    display: none;
    position: absolute;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 8px 0px 0px 30px;
    border-radius: 100%;
    border: 2px solid #111724;
    background-color: #F3F781;
}

.user-busy{
    display: none;
    position: absolute;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 8px 0px 0px 30px;
    border-radius: 100%;
    border: 2px solid #111724;
    background-color: #F78181;
}

.user-inactive{
    display: none;
    position: absolute;
    height: 15px;
    width: 15px;
    margin: 8px 0px 0px 30px;
    border-radius: 100%;
    border: 2px solid #111724;
    background-color: #848484;
}

.user-information{
    color: #cac9c9;
}

.btn-options-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-size: 18px;
    color: #3b4563;
}

.btn-microphone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
    color: #6f778a;
}

.mute-microphone{
    display: none;
    position: absolute;
    height: 2px;
    width: 1.3rem;
    background-color: #F78181;
    transform: rotate(-30deg);
}

.btn-microphone:hover{
    background-color: #1e2433;
}

.btn-headphone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
    color: #6f778a;
}

.mute-headphone{
    display: none;
    position: absolute;
    height: 2px;
    width: 1.6rem;
    background-color: #F78181;
    transform: rotate(-30deg);
}

.btn-headphone:hover{
    background-color: #1e2433;
}

.btn-config{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
    color: #6f778a;
}

.btn-config:hover{
    background-color: #1e2433;
}

.btn-config .fa-gear:hover{
    transition: .5s;
    transform: rotate(-30deg);
}


.activity-option{
    display: none;
    position: absolute;
    height: 10rem;
    width: 8rem;
    margin: 0rem 0rem 15rem 0.5rem;
    background-color: #111724;
    z-index: 1000;
    border-radius: 7px;
    cursor: default;
}

.activity-option .triangle{
    margin: 10rem 0rem 0rem 3rem;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(180deg);
    border-bottom: 15px solid #111724;
}

.btn-user-online{
    display: flex;
    align-items: center;
    background-color: #343d5a;
    height: 2rem;
    margin: 5px;
    border-radius: 8px;
    color: #FAFAFA;
    cursor: pointer;
    transition: .3s;
}

.btn-user-online .online{
    display: block;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 100%;
    background-color: #81F781;
}

.btn-user-idle{
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 5px;
    border-radius: 8px;
    color: #a3a3a3;
    cursor: pointer;
    transition: .5s;
}

.btn-user-idle .idle{
    display: block;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 100%;
    background-color: #F3F781;
}

.btn-user-busy{
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 5px;
    border-radius: 8px;
    color: #a3a3a3;
    cursor: pointer;
    transition: .5s;
}

.btn-user-busy .busy{
    display: block;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 100%;
    background-color: #F78181;
}

.btn-user-inactive{
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 5px;
    border-radius: 8px;
    color: #a3a3a3;
    cursor: pointer;
    transition: .5s;
}

.btn-user-inactive .inactive{
    display: block;
    z-index: 999;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 100%;
    background-color: #848484;
}

/*End Conversation bar*/

/*Friends bar*/

.friends-bar{
    width: 100%;
    height: 49.4rem;
}

.main-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #192035;
    border-bottom: 2px solid #1f2535;
}

.category-friends{
    display: flex;
    gap: 10px;
    margin: 10px;
    color: #4f576b;
    border-right: 3px solid #232b42;
    cursor: default;
}

.category-friends h2{
    margin: 0px 5px 0px 0px;
}

.category-friends .fa-user-group{
    font-size: 25px;
}

.buttons-main-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    margin: 15px;
    font-size: 16px;
    color: #4f576b;
}

.buttons-primary{
    display: flex;
    gap: 15px;
}

.btn-online-friends{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242a3a;
    color: #FAFAFA;
    height: 1.5rem;
    width: 4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.btn-online-friends:hover{
    background-color: #383f52;
    color: #c2c1c1;
    border-radius: 5px;
}

.btn-all-friends{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.btn-all-friends:hover{
    background-color: #383f52;
    color: #a3a3a3;
    border-radius: 5px;
}

.btn-pending{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.btn-pending:hover{
    background-color: #383f52;
    color: #a3a3a3;
    border-radius: 5px;
}

.btn-blocked-people{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.btn-blocked-people:hover{
    background-color: #383f52;
    color: #a3a3a3;
    border-radius: 5px;
}

.btn-add-friends{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 6rem;
    border-radius: 5px;
    background-color: #7289d9;
    color: #FAFAFA;
    cursor: pointer;
    transition: .6s;
}

.btn-add-friends:hover{
    color: #7289d9;
    background-color: #FAFAFA;
}

.buttons-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.btn-new-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    border-right: 3px solid #232b42;
    cursor: pointer;
}

.btn-new-group .fa-comments{
    margin: 15px;
    transition: .6s;
} 

.btn-new-group .fa-comments:hover{
    color: #cac9c9;
}

.floating-text-btn-new-group{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 5rem;
    height: 1.9rem;
    width: 6.5rem;
    border-radius: 5px;
    white-space: nowrap;
    background-color: #343d5a;
    color: #d8d4d4;
    z-index: 999;
}

.floating-text-btn-new-group p {
    font-size: 16px;
}

.floating-text-btn-new-group .triangle{
    margin: 0rem 0rem 2rem 0rem;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(0deg);
    border-bottom: 15px solid #343d5a;
}

.btn-inbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    cursor: pointer;
}

.fa-inbox{
    transition: .6s;
} 

.fa-inbox:hover{
    color: #cac9c9;
}

.btn-help{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    cursor: pointer;
}

.fa-circle-question{
    transition: .6s;
} 

.fa-circle-question:hover{
    color: #cac9c9;
}

.main-screen{
    display: flex;
}

.online-friends{
    width: 100%;
    height: 46.4rem;
}

.friends-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
}

#search-friends-online{
    height: 2rem;
    width: 45rem;
    background-color: #1e263d;
    border: none;
    font-size: 18px;
    color: #878e9e;
}

#search-friends-online:focus{
    outline: none;
    caret-color: #878e9e;
    color: #878e9e;
}

#search-friends-online::placeholder{
    color: #4f576b;
}

.border-search-left{
    height: 2rem;
    width: 1rem;
    margin-left: 15px;
    background-color: #1e263d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border-search-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin-right: 15px;
    background-color: #1e263d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #4f576b;
    cursor: pointer;
}

.number-friends-online{
    display: flex;
    align-items: center;
    height: 1.7rem;
}

.number-friends-online h5{
    margin: 1rem;
    font-weight: 600;
    color: #a1a1a1;
}

.friends-online{
    height: 100%;
    width: 100%;
}

.friend-onlie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    margin: 10px;
    cursor: pointer;
    border-top: 2px solid #1e2433;
    transition: .3s;
}

.friend-onlie:hover{
    background-color: #1e2433;
    border-radius: 10px;
}

.container-friend-online{
    height: 4.5rem;
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    color: #a1a1a1;
}

.container-friend-online img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 100%;
}

.buttons-friend-online{
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 5px;
    font-size: 20px;
}

.btn-send-message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: #3b4563;
    transition: .5s;
}

.btn-send-message:hover{
    background-color: #2d3446;
    color:  #a1a1a1;
}

.btn-more-options{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: #3b4563;
    transition: .5s;
}

.btn-more-options:hover{
    background-color: #2d3446;
    color:  #a1a1a1;
}

.active-friends{
    width: 100%;
    height: 46.4rem;
    border-left: 2px solid #232b42;
}

.category-active{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 2rem;
    width: 100%;
    color: #a1a1a1;
}

.friends-active-now{
    height: 100%;
}
/*-------------------*/

.user-configuration-panel{
    display: none;
    position: absolute;
    height: 30rem;
    width: 25rem;
    margin-left: 15rem;
    background-color: #111724;
    border-radius: 8px;
}

.user-configuration{
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;
    /*background-color: #F78181;*/
}

.user-profile-photo{
    display: flex;
    align-items: center;
    margin: 8px;
    cursor: pointer;
}

.user-profile-photo img{
    height: 5rem;
    width: 5rem;
    border-radius: 8px;
}

.btn-edit-profile-picture{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    font-size: 20px;
    border-radius: 8px;
    color: #6380ff;
    cursor: pointer;
    z-index: 999;
}

.profile-photo-panel{
    display: none;
    position: absolute;
    height: 23rem;
    width: 12rem;
    margin-left: 3.7rem;
    background-color: #1f263d;
    border-radius: 10px;
}

.profile-photo-panel-column-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 5rem;
    font-size: 22px;
    color: #FAFAFA;
}

.take-photo-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    background-color: #7289d9;
    transition: .5s;
    cursor: pointer;
}

.take-photo-btn:hover{
    background-color: #FAFAFA;
    color: #7289d9;
}

.add-photo-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    background-color: #7289d9;
    transition: .5s;
    cursor: pointer;
}

.add-photo-btn:hover{
    background-color: #FAFAFA;
    color: #7289d9;
}

.profile-photo-panel-column-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 5rem;
}

.profile-photo-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.profile-photo-1:hover{
    transform: scale(1.1);
}

.profile-photo-1 img{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
}

.profile-photo-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.profile-photo-2:hover{
    transform: scale(1.1);
}

.profile-photo-2 img{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
}


.profile-photo-panel-column-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 5rem;
}

.profile-photo-3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.profile-photo-3:hover{
    transform: scale(1.1);
}

.profile-photo-3 img{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
}

.profile-photo-4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.profile-photo-4:hover{
    transform: scale(1.1);
}

.profile-photo-4 img{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
}

.profile-photo-panel-column-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 5rem;
}

.profile-photo-5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.profile-photo-5:hover{
    transform: scale(1.1);
}

.profile-photo-5 img{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
}

.profile-photo-6{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.profile-photo-6:hover{
    transform: scale(1.1);
}

.profile-photo-6 img{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
}

@media (max-width: 1366px){
    .serve-bar{
        width: 4em;
    }
    .conversation-bar{
        width: 14rem;
    }
    .friends-chat{

    }
    .messages{

    }
    .main-bar{
    }
    .online-friends{

    }

    .friends-bar{
        width: 70rem;
    }

    #search-friends-online{
        
    }
    .friends-bar{

    }
    .friends-online{

    }
    .active-friends{

    }
    .friends-active-now{

    }
}

@media (max-height: 768px){
    .serve-bar{
        height: 48rem;
    }
    .conversation-bar{
        height: 48rem;
    }
    .friends-chat{
        height: 41.6rem;
    }
    .messages{
        height: 32rem;
    }
    .main-screen{
        height: 45rem;
    }
    .online-friends{
        height: 45rem;
    }
    .friends-bar{
        height: 48rem;
    }
    .friends-online{
        height: 39rem;
    }
    .active-friends{
        height: 45rem;
    }
    .friends-active-now{
        height: 42em;
    }
}